.wysiwyg-actions__item-letter_spacing{
  min-width: 300px;
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .wysiwyg-actions__item-letter_spacing-slider{
    width: 100%;
  }

  .wysiwyg-actions__item-letter_spacing-close{

  }
}