.wysiwyg-actions__item-font_size{
  min-width: 300px;
  padding-left: 6px;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  .wysiwyg-actions__item-font_size-slider{
    width: 100%;
  }

  .wysiwyg-actions__item-font_size-close{

  }
}