@import '../../../../assets/scss/variables';

.editor__add-font {
  width: 100%;

  .add-font__title {
    position: absolute;
    top: 2px;
    right: 0px;
    display: flex;
    justify-content: space-between;

    .add-font_text {
      font-size: 14px;
      line-height: 24px;
      color: #312e55;
    }

    .add-font_button {
      align-self: flex-end;
      cursor: pointer;
      font-size: 12px;
      font-weight: bold;
      line-height: 20px;
      letter-spacing: 0.5px;
      color: #929fb7;
      transition: all 0.3s ease;

      &:hover {
        color: $active;
      }
    }
  }
}

.editor__fonts-select_wrap {
  position: relative;
}
