@import "../../../assets/scss/variables";

.editor__elements-box_shadow{
  position: relative;

  .editor__elements-box_shadow-blanks{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    margin-bottom: 8px;


    .editor__elements-box_shadow-blank-item-col {
      width: 25%;
      padding-left: 4px;
      padding-right: 4px;

      .editor__elements-box_shadow-blank-item {
        cursor: pointer;
        width: 100%;
        height: 61px;
        border-radius: 4px;
        background-color: $background_grey;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 4px;
        margin-bottom: 4px;

        .editor__elements-box_shadow-blank-item-qub {
          width: 33px;
          height: 33px;
          border-radius: 4px;
          box-shadow: 0 2px 4px 0 $shadow_grey_light;
          background-color: $background_light;
        }

        &:hover {
          background: $active_light;
        }
      }

      .editor__elements-box_shadow-blank-item-null{
        width: 33px;
        height: 33px;

        svg {
          fill: $default;
        }
      }

      .editor__elements-box_shadow-blank-item-active{
        box-shadow: 0px 0px 0px 2px $active;
        background: $active_light;

        svg {
          fill: $active;
        }
      }
    }
  }

  .editor__elements-box_shadow-settings{

  }
}