@import "../../../assets/scss/variables";

.editor__elements-input {
  position: relative;

  input {
    width: 100%;
    min-height: 40px;
    border-radius: 4px;
    background-color: $background_grey;
    border: none;
    box-shadow: none;
    outline: none;
    font-size: 14px;
    padding-left: 12px;
    padding-right: 12px;
    color: $text_dark;

    &::placeholder {
      color: $default;
      opacity: 1;
    }

    &:-ms-input-placeholder {
      color: $default;
    }

    &::-ms-input-placeholder {
      color: $default;
    }

    &.filter {
      padding-right: 40px;
      color: $text_dark;
      transition: all 0.3s ease;

      &::placeholder {
        color: $default
      }

      &:hover {
        background: $default_hover;
        transition: all 0.15s ease;
      }
    }


    &:hover {
      transition: all 0.15s ease;
      background-color: $default_hover;
    }

    &:focus, &:active {
      transition: all 0.15s ease;
      background-color: $background_light;
      box-shadow: 0px 0px 0px 2px $active;

      &:hover {
        background-color: $background_light;
      }
    }
  }
}

.editor__elements-input-disabled {
  opacity: 0.6;

  input {
    cursor: no-drop;
    background-color: $default_hover;

    &:focus, &:active {
      box-shadow: none;

      &:hover {
        box-shadow: none;
      }
    }
  }
}

.editor__elements-input-error {
  input {
    box-shadow: 0px 0px 0px 2px $danger !important;

    &:focus, &:active {
      box-shadow: 0px 0px 0px 2px $danger !important;
    }
  }
}
.editor__elements-input-error-message {
  margin-top: 4px;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  font-family: $font_default;
  color: $danger;
}

.editor__elements-input-grey {
  input {
    background-color: $background_grey_hover;
  }
}