@import "../../../assets/scss/variables";

.editor__elements-logotype{
  position: relative;

  //svg {
  //  path {
  //    -webkit-transition: all 0.3s ease;
  //    -moz-transition: all 0.3s ease;
  //    -o-transition: all 0.3s ease;
  //    -ms-transition: all 0.3s ease;
  //    transition: all 0.3s ease;
  //  }
  //}

  .editor__elements-logotype-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .editor__elements-logotype-list-item {
      cursor: pointer;

      .editor__elements-logotype-list-item-icon{
        margin-bottom: 6px;

        svg {
          fill: $default;
        }
      }

      .editor__elements-logotype-list-item-label{
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-align: center;
        color: $default;
        text-transform: uppercase;
      }


      &:hover{

        &:not(.editor__elements-logotype-list-item-active) {

          .editor__elements-logotype-list-item-icon {

            svg {
              fill: $default;
            }
          }

          .editor__elements-logotype-list-item-label {
            color: $default
          }

        }

      }
    }

    .editor__elements-logotype-list-item-active {
      cursor: default;

      .editor__elements-logotype-list-item-icon {

        path{
          fill: $active;
        }

        svg {
          fill: $active;
        }
      }

      .editor__elements-logotype-list-item-label{
        color: $active;
      }
    }
  }
}