@import "../../assets/scss/variables";

.editor__popover {
  position: absolute !important;
  z-index: 10000000;
  width: 300px;
  background-color: $background_light;
  box-shadow: 0 9px 25px 0 rgba($background_dark, 0.3);
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 6px;
  left: 108px;
  top: 80px;
  font-family: $font-default;

  transition: height .3s ease;

  .editor__popover-close-icon {
    color: $default;
    position: absolute;
    right: 16px;
    top: 12px;
    width: 24px;
    height: 24px;
    z-index: 100;
    cursor: pointer;

    span {
      margin-right: 12px;
    }

    svg {
      width: 24px;
      height: 24px;
      fill: $default;
    }

    &:hover {
      svg {
        fill: $default_hover_dark;
      }
    }
  }

  .editor__popover-header {
    min-height: 49px;
    border-bottom: 1px solid $border_grey;
    position: relative;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: $text-dark;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 2px 6px 0 $shadow_grey_light;
    line-height: 1.71;
    letter-spacing: 0.5px;
    z-index: 10;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .editor__popover-body {
    padding: 12px;
  }

  .editor__popover-body-overflow {
    overflow-x: auto;
    max-height: 458px;

    &::-webkit-scrollbar {
      width: 6px;
    }

    &::-webkit-scrollbar-track {
      background: $background_grey;
    }

    &::-webkit-scrollbar-thumb {
      background: $default;
    }

    &::-webkit-scrollbar-thumb:window-inactive {
      background: $active;
    }
  }

  .editor__popover-header-back {
    height: 100%;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    left: 0;
    top: 0;

    svg {
      fill: $default;
    }

    &:hover {
      svg {
        fill: $default_hover
      }
    }
  }
}

.editor__popover-handle {
  cursor: move;
}

.editor__popover-footer {
  min-height: 49px;
  border-top: 1px solid $border_grey;
  position: relative;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: $text-dark;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.71;
  letter-spacing: 0.5px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}
