@import "../../assets/scss/variables";

.editor__popup-menu {
  position: relative;
  margin-top: -8px;
  margin-bottom: -8px;

  .editor__popup-menu-item {
    position: relative;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: $text-dark;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;


    .editor__popup-menu-item-arrow {
      position: absolute;
      right: 0px;
      top: 7px;
      -webkit-transition: all 0.5s ease;
      -moz-transition: all 0.5s ease;
      -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
      transition: all 0.5s ease;

      svg {
        width: 26px;
        height: 26px;
        fill: $default;
      }
    }

    &:hover {
      color: $default_hover_dark;

      .editor__popup-menu-item-arrow {

        svg {
          fill: $default_hover_dark;
        }
      }
    }
  }
}