@import "../../../assets/scss/variables";

.editor__elements-switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 12px;
  outline: none;
  margin-bottom: 0px;

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    span {
      cursor: not-allowed;
    }
  }
}

.editor__elements-switch input {
  opacity: 0;
  width: 0;
  height: 0;
  outline: none;
  display: none;
}

.editor__elements-switch-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $background_grey;
  -webkit-transition: .4s;
  transition: .4s;
  outline: none;
}

.editor__elements-switch-slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 0px;
  bottom: -4px;
  border-radius: 8px;
  box-shadow: 0 2px 8px 0 $shadow_grey_medium;
  background-color: $default;
  -webkit-transition: .4s;
  transition: .4s;
}

.editor__elements-switch input:checked + .editor__elements-switch-slider {
  background-color: $active_light;
}

.editor__elements-switch input:focus + .editor__elements-switch-slider {
  box-shadow: 0 0 1px $active_light;
}

.editor__elements-switch input:checked + .editor__elements-switch-slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
  background-color: $background_color;
}


.editor__elements-switch-slider-rounded {
  border-radius: 34px;
}

.editor__elements-switch-slider-rounded:before {
  border-radius: 50%;
}