$main_blue_color: #00afcc;
$main_grey_no_active: #979797;
$main_grey_active: #929fb7;

$zIndex_block_actions: 15;
$zIndex_resize_action: 11;
$zIndex_component_action: 10;
$zIndex_navbar_block_actions: 11;

$zIndex_block: 100;
$zIndex_sides: 90;
$zIndex_resize: 80;
$zIndex_component: 70;

$color_header: #fbb03a;
$color_footer: #fbb03a;
$color_page: #3479b7;
$color_navbar: #fbb03a;

$roboto: "Roboto", sans-serif;
$font_default: "Roboto", sans-serif;

$danger: #E35151;
$danger_light: rgba(225, 59, 59, 0.1);
$warning: #ffb32a;
$warning_light: rgba(255, 179, 42, 0.1);
$success: #70af2d;
$success_light: rgba(112, 175, 45, 0.1);

$active: #3479b7;
$active_light: rgba(52, 121, 183, 0.2);
$default: #929fb7;
$default_hover: #D7DCE4;
$default_hover_dark: #697894;

$text_light: #ffffff;
$text_dark: #312e55;
$text_color: #3479b7;

$background_light: #ffffff;
$background_dark: #000000;
$background_color: #3479b7;
$background_grey: #f6f7f9;
$background_grey_hover: #e9ecf1;


$border_grey: #e4ebef;
$border_grey_bg: #D7DCE4;
$border_light: #ffffff;
$border_color: #3479b7;

$shadow_grey_light: rgba(0, 0, 0, 0.04);
$shadow_grey_medium: rgba(0, 0, 0, 0.12);